.main {
  width: 100%;
  height: 118vh;
  background-image: url(/src/AssetsImages/img-home3.jpg);
}

.nav {
  display: flex;
  flex-direction: row;

  justify-content: last baseline;
}
.logo-pufi {
  width: 10%;
  height: 60px;
  margin-left: 35px;
  margin-right: 250px;
  margin-top: 20px;
}

.nav-menu {
  display: flex;
  justify-items: center;
  list-style: none;
}

.nav-menu-link {
  border: none;
  color: white;
  font-size: 15px;
  margin: 5px;
  margin-top: 100px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-menu-one {
  display: flex;
  margin-right: 28px;
  justify-content: flex-end;
  list-style: none;
}

.nav-menu-link-one {
  padding: 5px 7px;
  border: none;
  color: rgb(200, 196, 196);
  font-size: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-puff {
  width: 25%;
  height: 60px;
}

.logo-rain {
  width: 25%;
  height: 60px;
}

.logo-cart {
  width: 25%;
  height: 60px;
}

.logo-nap {
  width: 25%;
  height: 60px;
}

.titulo {
  text-align: center;
  color: rgb(25, 14, 14);
  font-size: 55px;
  font-family: monospace;
  margin-top: 130px;
}

.flecha {
  width: 8px;
  height: 8px;
}

.parrafo {
  width: 108px;
  height: 30px;
  border: solid 2px white;
  justify-items: center;
  text-align: center;
  margin: 170px auto auto auto;
  padding-top: 15px;
  color: white;
}

#cuenta {
  border-right: solid 1px rgb(200, 196, 196);
}

.nav-menu-item {
  border-right: solid 1px rgb(200, 196, 196);
}

/* Diseño del componente PufiNap*/

.espufi {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
}

.parrafo-uno {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.911);
  margin-top: 40px;
}

.parrafo-dos {
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text {
  border: none;
}

.container-text {
  width: 570px;
  padding: 11px;
  border: solid 1px gray;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.flecha-derecha {
  width: 20px;
  height: 20px;
}

.btn-flecha {
  border: none;
  background: none;
}

/* diseño del pie de página*/

#pie-pagina {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(101, 71, 71);
  font-weight: bold;
}

.logo-redes {
  width: 20%;
  height: 20px;
  margin: 5px;
}

.parrafo-redes {
  margin-left: 5px;
}
/* Diseño de espufi*/
#pufi {
  margin: auto 5px auto 5px;
}

.pufis {
  border-right: solid 1px rgba(128, 128, 128, 0.495);
}

.contactos {
  margin-left: 160px;
  border-right: solid 1px rgba(128, 128, 128, 0.495);
}

.compra {
  margin-left: 160px;
  border-right: solid 1px rgba(128, 128, 128, 0.495);
}
.seguinos {
  display: flex;
  margin-left: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-auto-rows: 155px 155px;
  gap: 2px;
  justify-content: center;
  margin-bottom: 70px;
}

.item-uno {
  width: 150px;
  height: 155px;
  background-image: url(/src/AssetsImages/pareja-amorosa-sombrilla-parque-otono_392895-2647.jpg);
}

.item-dos {
  width: 150px;
  height: 155px;
  background-image: url(/src/AssetsImages/shopping-bags-groceries-isolated-on-260nw-1255484026.webp);
}

.item-tres {
  width: 150px;
  height: 155px;
  background-image: url(/src/AssetsImages/img-mujer.jpg);
}

.item-cuatro {
  width: 150px;
  height: 155px;
  background-image: url(/src/AssetsImages/img-mujer-puff.webp);
}

.item-cinco {
  width: 150px;
  height: 155px;
  background-image: url(/src/AssetsImages/download.jpg);
}

.item-seis {
  width: 150px;
  height: 155px;
  background-image: url(/src/AssetsImages/puff-colchoneta-jardin-terraza.jpg);
}
/* Diseño de nap*/

.nap-uno {
  width: 100px;
  height: 100px;
}
.nap-dos {
  width: 90%;
  height: 85vh;
  margin-left: 212px;
  border: solid 2px rgb(162, 141, 141);
}

.container-nap {
  display: flex;
}

.grupo-nap {
  margin-top: 140px;
  margin-left: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.parrafo-nap {
  color: gray;
  font-size: 13px;
}

.linea-nap {
  width: 30px;
  margin-left: 25px;
}
/*Diseño de cart*/
.grupo-cart {
  margin-top: 140px;
  margin-left: 430px;
  font-family: Arial, Helvetica, sans-serif;
}

.cart-uno {
  width: 144%;
  height: 85vh;
  border: solid 2px blue;
}

.container-pufi-cart {
  display: flex;
}

.parrafo-cart {
  color: gray;
  font-size: 13px;
}

.linea-cart {
  width: 30px;
  margin-left: 34px;
}

/* Diseño de puff*/
.container-puff {
  display: flex;
}

.grupo-puff {
  margin-top: 140px;
  margin-left: 280px;
  font-family: Arial, Helvetica, sans-serif;
}

.puff-uno {
  width: 100px;
  height: 100px;
}

.linea-puff {
  width: 30px;
  margin-left: 32px;
}

.parrafo-puff {
  color: gray;
  font-size: 13px;
}

.puff-dos {
  width: 88%;
  height: 85vh;
  margin-left: 230px;
  border: solid 2px black;
}

/* Diseño de rain*/
.container-rain {
  display: flex;
}

.rain-dos {
  width: 100px;
  height: 100px;
}

.grupo-rain {
  margin-top: 140px;
  margin-left: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.linea-rain {
  width: 30px;
  margin-left: 36px;
}

.parrafo-rain {
  color: gray;
  font-size: 13px;
}

.parrafo-shop {
  width: 108px;
  height: 30px;
  border: solid 2px white;
  justify-items: center;
  text-align: center;
  margin: 250px auto auto auto;
  padding-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.container-img {
  width: 52.5%;
  height: 85vh;
  border: solid 2px rgb(165, 149, 42);
  background-image: url(/src/AssetsImages/img-rain.jpg);
}
